body {
    width: 900px;
}
header {
    background-color: red;
}
main {
    background-color: darkgreen;
    position: relative;
    float: left;
}
aside{
    background-color: darkblue;
    padding-left: 10px;
    padding-bottom:700px;
    margin-left: 15px;
    float: right;
}
footer {
    background-color: brown;
    a{
        color:white;
    }
}